$("#new-genre").modal("hide");
<% if @new %>
  <% unless Rails.env.test? %>
    Turbo.clearCache();
  <% end %>
  $("[data-behavior~=new-genre]").append("<option value='<%= @genre.id %>'><%= @genre.name %></option>");
<% end %>
