<h1><%= @artist.name %></h1>

<div id="albums">
  <% @artist.albums.each do |album| %>
    <div class="row">
      <div class="col-md-6">
        <h4><%= album.title %></h4>
      </div>
    </div>
  <% end %>
</div>
