Turbolinks.clearCache();
$("[data-behavior~=flash-messages]").empty();

<%= render partial: "comment_counter" %>
var count = commentCounter(false);

$("[data-behavior~=comment-<%= @comment.id %>]").fadeOut(500, function() {
  $("[data-behavior~=comment-<%= @comment.id %>]").remove();
  if (count === 0) {
    $("[data-behavior~=comments]").append(
      "<h4 data-behavior='no-comments-posted'> \
        No comments have been posted for this <%= @comment.commentable.class.to_s.downcase %> \
      </h4>");
  }
});
