<div id="comments">
  <div class="page-header">
    <h3>Comments</h3>
  </div>
  <% if commentable.comments.count > 0 %>
    <%= render partial: "comments/comment", collection: commentable.comments.includes(:user).order(created_at: :desc) %>
  <% end %>
</div>
