<div id="about" class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header">About</h1>
    <p>
    This application, Platters, is a demonstration web application
    developed using the 
    <em><a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a></em>
    web framework and associated technologies. Refer to 
    <%= link_to "details", details_path %> 
    for the complete set of technologies used by this application.
    </p>
    
    <p>
    My background is in IT (information technology), but in the areas of C++
    systems programming as well as traditional system administration and
    systems management. After many years of doing that I wanted to move into
    something new, full-stack web development was the chosen
    <em>something new</em>.
    Note, coming to grips with full-stack web development has involved much
    time, learning and experimentation.
    </p>

    <p>
    The Platters application is my album collection converted into a
    database-backed web application with user login and commenting components.
    </p>

    <p>
    This application was developed, over an extended period, to put in practise
    self-taught web development knowledge gained from the following disparate
    sources:
      <ul>
        <li><p>Ruby on Rails Tutorial.</p></li>
        <li><p>Rails 4 in Action.</p></li>
        <li><p>A host of Codecademy courses.</p></li>
        <li><p>A host of Jumpstart lab courses.</p></li>
        <li><p>HTML5 books.</p></li>
        <li><p>Ruby books.</p></li>
        <li><p>JavaScript, CoffeeScript and jQuery books.</p></li>
      </ul>
    </p>

    <p>
    Also, developer-focused DevOps techniques and technologies were needed to
    deploy and host this application on a DigitalOcean droplet on the
    Internet.
    </p>

    <h2>Sources</h2>
    <ul>
      <li>
        <p>
        Github repository:
        <a href="https://github.com/bluz71/platters" target="_blank">Platters</a>
        </p>
      </li>
    </ul>

    <h2>Contact</h2>
    <p>I you have any comments, or feedback, then please contact me.</p>

    <h2>Why Rails?</h2>
    <p>
    <em>Ruby on Rails</em> was chosen early on from a host of possible
    web development choices due to the following appealing factors:
      <ul>
        <li><p>Developer happiness and enjoyment.</p></li>
        <li><p>Unix based tooling, development and hosting.</p></li>
        <li><p>Active communities, both locally and abroad.</p></li>
        <li><p>Future employment possibilities.</p></li>
        <li><p>Gateway to interesting technologies such as Elixir and Phoenix.</p>
      </ul>
    </p>
    <br>
  </div>
</div>
