<div id="misc-page" class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header">About</h1>
    <p>
    This application, Platters, is an example web application developed using the <em><a href="http://rubyonrails.org" target="_blank" class="standout">Ruby on Rails</a></em> web framework and associated technologies. Refer to <%= link_to "details", details_path, class: "standout" %> for the complete set of technologies used.
    </p>
    <p>
    The Platters application is my complete album collection converted into a database-backed web application with optional user registration, log in and commenting components.
    </p>
    <p>
    Platters is primarily a server-side application with sprinkles of JavaScript (Turbolinks, jQuery, unobtrusive jQuery and CofeeScript). Note, using a client-side JavaScript framework, such as Ember.js or React, was ruled out due to the complexity involved for a small application such as this.
    </p>
    
    <h2>Developer</h2>
    <p>
    My background is in IT (information technology), but in the areas of C++ systems programming as well as traditional system administration and systems management. After many years of doing that I wanted to move into something new, full-stack web development was the chosen <em>something new</em>.  Note, coming to grips with full-stack web development has involved much time, learning and experimentation.
    </p>

    <% if signed_in? %>
      <h2>Contact</h2>
      <p>If you have any comments, or feedback, then please <a href="mailto:<%= @contact_email %>?subject=Platters" class="standout">email me.</a></p>
    <% end %>

    <h2>Sources</h2>
    <ul>
      <li><p>Github repository: <a href="https://github.com/bluz71/platters" target="_blank" class="standout">Platters</a></p></li>
      <li><p>Github account: <a href="https://github.com/bluz71" target="_blank" class="standout">bluz71</a></p></li>
    </ul>

    <h2>Learning material</h2>
    <p>
    This application was developed, over an extended period, to put in practise self-taught web development and deployment knowledge gained from the following disparate sources:
      <h3 class="spacer-left-xs">Books</h3>
      <ul>
        <li><h4><a href="http://www.learningwebdesign.com" target="_blank">Learning Web Design</a></h4></li>
        <li><h4><a href="https://www.manning.com/books/the-well-grounded-rubyist" target="_blank">The Well-Grounded Rubyist</a></h4></li>
        <li><h4><a href="https://pragprog.com/book/ppmetr2/metaprogramming-ruby-2" target="_blank">Metaprogramming Ruby 2</a></h4></li>
        <li><h4><a href="https://3rd-edition.railstutorial.org" target="_blank">Ruby on Rails Tutorial</a></h4></li>
        <li><h4><a href="https://www.manning.com/books/rails-4-in-action" target="_blank">Rails 4 in Action</a></h4></li>
        <li><h4><a href="https://pragprog.com/book/nrtest2/rails-4-test-prescriptions" target="_blank">Rails 4 Test Prescriptions</a></h4></li>
        <li><h4><a href="https://www.manning.com/books/jquery-in-action" target="_blank">jQuery in Action</a></h4></li>
        <li><h4><a href="https://www.manning.com/books/coffeescript-in-action" target="_blank">CoffeeScript in Action</a></h4></li>
        <li><h4><a href="https://www.justinweiss.com/practicing-rails" target="_blank">Practicing Rails</a></h4></li>
        <li><h4><a href="https://www.amazon.com/Step-Bootstrap-Quick-Responsive-Development/dp/1499655622" target="_blank">Step By Step Bootstrap 3</a></h4></li>
        <li><h4><a href="http://shop.oreilly.com/product/0636920025061.do" target="_blank">PostgreSQL: Up and Running</a></h4></li>
        <li><h4><a href="https://pragprog.com/book/adrpo/ruby-performance-optimization" target="_blank">Ruby Performance Optimization</a></h4></li>
      </ul>

      <h3 class="spacer-left-xs">Online</h3>
      <ul>
        <li><h4><a href="http://rubykoans.com" target="_blank">Ruby Koans</a></h4></li>
        <li><h4><a href="https://www.codecademy.com" target="_blank">Codecademy</a></h4></li>
        <li><h4><a href="http://tutorials.jumpstartlab.com" target="_blank">Jumpstart Lab Tutorials</a></h4></li>
        <li><h4><a href="http://guides.rubyonrails.org" target="_blank">Rails Guides</a></h4></li>
        <li><h4><a href="http://railscasts.com" target="_blank">RailsCasts</a></h4></li>
        <li><h4><a href="https://gorails.com" target="_blank">GoRails</a></h4></li>
        <li><h4><a href="https://www.driftingruby.com" target="_blank">Drifting Ruby</a></h4></li>
        <li><h4><a href="https://www.digitalocean.com/community/tutorials" target="_blank">DigitalOcean Tutorials</a></h4></li>
        <li><h4><a href="https://devcenter.heroku.com" target="_blank">Heroku Dev Center</a></h4></li>
        <li><h4><a href="http://designforhackers.com" target="_blank">Design for Hackers</a></h4></li>
      </ul>
    </p>

    <h2>Why Rails?</h2>
    <p>
    <em>Ruby on Rails</em> was chosen early on, from a host of possible
    web development choices, due to the following appealing factors:
      <ul>
        <li><p>Developer happiness and enjoyment.</p></li>
        <li><p>Unix based tooling, development and hosting.</p></li>
        <li><p>Active communities, both locally and abroad.</p></li>
        <li><p>Future employment possibilities.</p></li>
        <li><p>Gateway to interesting technologies such as Elixir and Phoenix.</p>
      </ul>
    </p>
    <br>
  </div>
</div>
