<div id="misc-page" class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="page-header">Core technolgies</h1>
    <ul>
      <li>
        <h3>
          <a href="https://www.ruby-lang.org" target="_blank">Ruby</a> <small>version 2.3</small>
        </h3>
        <p>Server-side programming language.</p>
      </li>
      <li>
        <h3>
          <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a> <small>version 4.2</small>
        </h3>
        <p>Server-side web application framework.</p>
        <p>
        This application also makes use of the following technologies that
        Rails provides: <em>jQuery</em> (JavaScript library),
        <em>CoffeeScript</em> (transcompiles to JavaScript), and <em>Sass</em>
        (CSS extension language).
        </p>
      </li>
      <li>
        <h3>
          <a href="https://www.postgresql.org" target="_blank">PostgreSQL</a> <small>version 9.5</small>
        </h3>
        <p>Database management system. The main data repository and search server.</p>
      </li>
      <li>
        <h3>
          <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> <small>version 3.3</small>
        </h3>
        <p>
        Front-end design and layout framework. Used to create responsive,
        mobile first web applications.
        </p>
      </li>
      <li>
        <h3>
          <a href="http://puma.io" target="_blank">Puma</a> <small>version 3</small>
        </h3>
        <p>Ruby based concurrent web server. Used to serve Rails applications.
      </li>
      <li>
        <h3>
          <a href="https://nginx.org" target="_blank" class="todo">nginx</a> <small>version 1.9</small>
        </h3>
        <p>
        Web and reverse proxy server. Used to proxy requests to and from the
        Rails application and serve up certain static assets.
        </p>
      </li>
      <li>
        <h3>
          <a href="http://redis.io" target="_blank">Redis</a> <small>version 3.0</small>
        </h3>
        <p>
        In-memory data structure server. Used for: Rails fragment cache,
        Sidekiq job queue and Rack::Attack cache backend.
        </p>
      </li>
      <li>
        <h3>
          <a href="http://sidekiq.org" target="_blank">Sidekiq</a> <small>version 4.1</small>
        </h3>
        <p>Ruby based asynchronous job processor.</p>
      </li>
      <li>
        <h3>
          <a href="https://gravatar.com" target="_blank">Gravatar</a></small>
        </h3>
        <p>
        Gravatar is a global free avatar service. Platters user avatars will be
        provided by Gravatar.
        </p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Significant Libraries</h2>
    <ul>
      <li>
        <h3><a href="http://fontawesome.io" target="_blank">Font Awesome</a></h3>
        <p>Scalable vector icons.</p>
      </li>
      <li>
        <h3><a href="https://bootswatch.com" target="_blank">Bootswatch</a></h3>
        <p>
        Free themes for the Bootstrap framework. This application uses the
        <em>Yeti</em> theme with customizations.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/amatsuda/kaminari" target="_blank">Kaminari</a></h3>
        <p>Customizable paginator for Rails.</p>
      </li>
      <li>
        <h3><a href="https://github.com/norman/friendly_id" target="_blank">FriendlyId</a></h3>
        <p>
        Slugging and permalink plugin for Rails ActiveRecord. This plugin
        provides support for creating human-friendly URLs in Rails
        applications.
        </p> 
      </li>
      <li>
        <h3><a href="https://github.com/carrierwaveuploader/carrierwave" target="_blank">CarrierWave</a></h3>
        <p>File uploader for Rails.</p>
      </li>
      <li>
        <h3><a href="https://github.com/thoughtbot/clearance" target="_blank">Clearance</a></h3>
        <p>Authentication and authorization for Rails.</p>
      </li>
      <li>
        <h3><a href="https://github.com/kickstarter/rack-attack" target="_blank" class="todo">Rack::Attack</a></h3>
        <p>
        Rack middleware, for Rails, to protect web applications from bad
        clients by blocking and throttling abusive requests.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/basecamp/local_time" target="_blank">localtime</a></h3>
        <p>
        Convert server-side timestamps into end-user local times. This library
        affords artist and album comments to be displayed using Twitter-like
        local-time-ago timestamps.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/markets/invisible_captcha" target="_blank">invisible_captcha</a></h3>
        <p>Simple spam protection for Rails applications during form submission.</p>
      </li>
      <li>
        <h3><a href="https://github.com/vmg/rinku" target="_blank">Rinku</a></h3>
        <p>
        Rinku parses text and turns anything that resembles a link into a HTML
        link. This gem is used to create real links in user comments.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/tjackiw/obscenity" target="_blank" class="todo">obscenity</a></h3>
        <p>Profanity filter for Rails applications.</p>
      </li>
      <li>
        <h3><a href="https://github.com/newrelic/rpm" target="_blank" class="todo">New Relic</a></h3>
        <p>
        Performance management and monitoring solution for production Rails
        applications.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/roidrage/lograge" target="_blank" class="todo">Lograge</a></h3>
        <p>
        Tame Rails production log output into something minimal, usable and parsable.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/stympy/faker" target="_blank">Faker</a></h3>
        <p>
        A library for generating fake data such as names, addresses, and phone numbers.
        </p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Deployment</h2>
    <ul>
      <li>
        <h3><a href="https://www.digitalocean.com" target="_blank" class="todo">DigitalOcean</a></h3>
        <p>Cloud-based virtual hosting provider.</p>
      </li>
      <li>
        <h3><a href="http://www.ubuntu.com/server" target="_blank" class="todo">Ubuntu Server</a></h3>
        <p>Linux-based operating system targetted toward server usage.</p>
      </li>
      <li>
        <h3><a href="https://www.rackspace.com/en-au/cloud/files" target="_blank">Rackspace Cloud Files</a></h3>
        <p>Cloud-based file storage and content network delivery (CDN) provider.</p>
      </li>
      <li>
        <h3><a href="https://www.mailgun.com" target="_blank" class="todo">Mailgun</a></h3>
        <p>Transactional email delivery and management service.</p>
      </li>
      <li>
        <h3><a href="https://www.loggly.com" target="_blank" class="todo">Loggly</a></h3>
        <p>Cloud-based log management service.</p>
      </li>
      <li>
        <h3><a href="https://rollbar.com" target="_blank" class="todo">Rollbar</a></h3>
        <p>Error monitoring and reporting service.</p>
      </li>
      <li>
        <h3><a href="https://www.namecheap.com" target="_blank" class="todo">Namecheap</a></h3>
        <p>Domain name registrar.</p>
      </li>
      <li>
        <h3><a href="https://letsencrypt.org" target="_blank" class="todo">Let's Encrypt</a></h3>
        <p>Free, automated, and open certificate authority for SSL certificates.</p>
      </li>
      <li>
        <h3><a href="http://nadarei.co/mina" target="_blank" class="todo">Mina</a></h3>
        <p>Automated deployment tool for Rails applications.</p>
      </li>
      <li>
        <h3>
          <a href="https://github.com/postmodern/ruby-install" target="_blank" class="todo">ruby-install</a>
          and <a href="https://github.com/postmodern/chruby" target="_blank" class="todo">chruby</a>
        </h3>
        <p>Simple Ruby version management.</p>
      </li>
      <li>
        <h3><a href="http://www.fail2ban.org" target="_blank" class="todo">Fail2ban</a></h3>
        <p>Intrusion prevention framework that protects servers from brute-force attacks.</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Development</h2>
    <ul>
      <li>
        <h3><a href="http://miniprofiler.com" target="_blank">rack-mini-profiler</a></h3>
        <p>Comprehensive profiling toolkit for Rails applications.</p>
      </li>
      <li>
        <h3><a href="https://github.com/flyerhzm/bullet" target="_blank">bullet</a></h3>
        <p>Identity, and ameliorate, N+1 queries during Rails application development.</p>
      </li>
      <li>
        <h3><a href="http://brakemanscanner.org" target="_blank">Brakeman</a></h3>
        <p>A static analysis security vulnerability scanner for Ruby on Rails applications.</p>
      </li>
      <li>
        <h3><a href="https://github.com/troessner/reek" target="_blank" class="todo">Reek</a></h3>
        <p>Ruby code smell detector tool.</p>
      </li>
      <li>
        <h3><a href="https://github.com/bbatsov/rubocop" target="_blank" class="todo">Rubocop</a></h3>
        <p>Automatic Ruby code style checking tool.</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Testing</h2>
    <ul>
      <li>
        <h3><a href="http://rspec.info" target="_blank">Rspec</a></h3>
        <p>Behaviour driven development framework for Ruby.</p>
      </li>
      <li>
        <h3><a href="https://github.com/jnicklas/capybara" target="_blank">Capybara</a></h3>
        <p>Headless browser simulator used in RSpec feature specs.</p>
      </li>
      <li>
        <h3><a href="http://phantomjs.org" target="_blank">PhantomJS</a></h3>
        <p>A scriptable headless browser with JavaScript support.</p>
      </li>
      <li>
        <h3><a href="https://github.com/teampoltergeist/poltergeist" target="_blank">Poltergeist</a></h3>
        <p>A JavaScript capable driver for Capybara</p>
      </li>
      <li>
        <h3><a href="https://github.com/email-spec/email-spec" target="_blank">Email Spec</a></h3>
        <p>Collection of RSpec matchers for testing email in a ruby app using ActionMailer.</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Miscellaneous application features</h2>
    <ul>
      <li>
        <h3><a href="https://gorails.com/episodes/button-loading-animations-with-jquery-ujs" target="_blank">Busy submission buttons</a></h3>
        <p>
        All form submission buttons use the Rails Unobtrusive JavaScript
        (UJS) <code>data-disable-with</code> functionality to disable, and display
        a spinner icon, whilst a submitted form is being processed.
        </p>  
      </li>
      <li>
        <h3><a href="http://railscasts.com/episodes/263-client-side-validations" target="_blank">Client-side form validations</a></h3>
        <p>
        Certain form elements, such as Artist name and Album title, are
        validated client side for blankness in addition to traditional
        server-side validation.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/turbolinks/turbolinks" target="_blank">Turbolinks</a> <small>version 5</small></h3>
        <p>
        This Rails application uses Turbolinks for performant in-app page to
        page navigation. The Turbolinks top-of-page progress bar is enabled to
        provide visual feedback for page navigation that takes longer than
        500ms.  Turbolinks also loads visited in-app pages from an internal
        transition cache, this will result in near instant page loads for
        cached pages, with later automatic page refresh if page changes have
        occurred. The transistion cache is disabled only for the randomized
        albums page due to a jarring effect with cover images. 
        </p>
      </li>
      <li>
        <h3><a href="https://gorails.com/episodes/how-to-use-turbolinks-clearCache" target="_blank">Turbolinks clear cache</a></h3>
        <p>
        <code>Turbolinks.clearCache()</code> is invoked in all JavaScript
        responses, that being <em>*.js.erb</em> view files, where database
        changes occur. If not called then inconsistent page results may be
        observed when using the browser back button.
        </p>
      </li>
      <li>
        <h3><a href="http://railscasts.com/episodes/343-full-text-search-in-postgresql" target="_blank">PostgreSQL text search</a></h3>
        <p>
        Artist and Album search both use the PostgreSQL <code>@@</code> text
        search operator which provides support for: English dictionary stemming,
        multi-word search, stop words, and fuzzy text search for misspellings.
        </p>
      </li>
      <li>
        <h3><a href="https://stackoverflow.com/questions/26772839/auto-hide-the-flash-messages-in-rails" target="_blank">Auto-hide Flash messages</a></h3>
        <p>
        Flash notice messages, as seen during resource creation, deletion and
        modification, will automatically hide, then be removed after a few
        seconds as well as being user dismissible.
        </p>
      </li>
      <li>
        <h3>Show all / show less Album tracks</h3>
        <p>
        Albums with more than twenty tracks will, by default, show only the
        first twenty tracks with a fade effect over the last four tracks of
        those twenty. A toggle is available to show all tracks, and once
        selected a show less toggle is then provided. Visit certain Various
        Artists albums for examples of this functionality.
        </p>
      </li>
      <li>
        <h3>Comment limits per-user per-day</h3>
        <p>
        Users are only allowed to post 100 comments per-day. This will prevent
        rogue users abusing the site.
        </p>
      </li>
      <li>
        <h3><a href="https://gorails.com/episodes/comments-with-polymorphic-associations" target="_blank">Polymorphic associated comment model</a></h3>
        <p>
        Comments can be posted for artists <em>and</em> albums, hence individual
        comments can belong to either an artist or album instance. Polymorphic
        associations are the most elegant way to model this multi-owner
        relationship.
        </p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Logo</h2>
    <p>
      Record player icon, made by 
      <a href="http://www.flaticon.com/authors/freepik" target="_blank" class="standout">Freepik</a> from 
      <a href="http://www.flaticon.com" target="_blank" class="standout">www.flaticon.com</a>, is licensed by 
      <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" class="standout">CC 3.0 BY</a>
    </p>
    <br>
  </div>
</div>
