<div class="row">
  <div class="col-md-10">
    <h1 class="page-header">Core technolgies</h1>
    <ul>
      <li><h3>Rails <small>version 4.2.6</small></h3><p>Web application framework</p></li>
      <li><h3>PostgreSQL</h3></li>
      <li><h3>Redis</h3></li>
      <li><h3>Sidekiq <small>asynchronous job processor</small></h3></li>
      <li><h3>Puma <small>Ruby web server</small></h3></li>
      <li><h3>Nginx</h3></li>
    </ul>
    <br>

    <h2 class="page-header">Hosting</h2>

    <h2 class="page-header">Logo</h2>
    <div>Record player icon made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

    <h2 class="page-header">Ruby gems</h2>

    <h2 class="page-header">Miscellaneous features</h2>
  </div>
</div>
