<div id="details" class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="page-header">Core technolgies</h1>
    <ul>
      <li>
        <h3>
          <a href="https://www.ruby-lang.org" target="_blank">Ruby</a> <small>version 2.3</small>
        </h3>
        <p>Server-side programming language.</p>
      </li>
      <li>
        <h3>
          <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> <small>version 4.2</small>
        </h3>
        <p>Server-side web application framework.</p>
        <p>
        This application also makes use of the following technologies that
        Rails provides: <em>jQuery</em> (JavaScript library),
        <em>CoffeeScript</em> (transcompiles to JavaScript), and <em>Sass</em>
        (CSS extension language).
        </p>
      </li>
      <li>
        <h3>
          <a href="https://www.postgresql.org" target="_blank">PostgreSQL</a> <small>version 9.5</small>
        </h3>
        <p>Database management system. The main data repository and search server.</p>
      </li>
      <li>
        <h3>
          <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> <small>version 3.3</small>
        </h3>
        <p>
        Front-end design and layout framework. Used to create responsive,
        mobile first web applications.
        </p>
      </li>
      <li>
        <h3>
          <a href="http://puma.io" target="_blank">Puma</a> <small>version 3</small>
        </h3>
        <p>Ruby based concurrent web server. Used to serve Rails applications.
      </li>
      <li>
        <h3>
          <a href="https://nginx.org" target="_blank" class="todo">nginx</a> <small>version 1.9</small>
        </h3>
        <p>
        Web and reverse proxy server. Used to proxy requests to and from the
        Rails application and serve up certain static assets.
        </p>
      </li>
      <li>
        <h3>
          <a href="http://redis.io" target="_blank" class="todo">Redis</a> <small>version 3.0</small>
        </h3>
        <p>
        In-memory data structure server. Used for: Rails fragment cache,
        Sidekiq job queue and Rack::Attack cache backend.
        </p>
      </li>
      <li>
        <h3>
          <a href="http://sidekiq.org" target="_blank" class="todo">Sidekiq</a> <small>version 4.1</small>
        </h3>
        <p>Ruby based asynchronous job processor.</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Significant Libraries</h2>
    <ul>
      <li>
        <h3><a href="http://fontawesome.io" target="_blank">Font Awesome</a></h3>
        <p>Scalable vector icons.</p>
      </li>
      <li>
        <h3><a href="https://bootswatch.com" target="_blank">Bootswatch</a></h3>
        <p>
        Free themes for the Bootstrap framework. This application uses the
        <em>Yeti</em> theme with customizations.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/amatsuda/kaminari" target="_blank">Kaminari</a></h3>
        <p>Customizable paginator for Rails.</p>
      </li>
      <li>
        <h3><a href="https://github.com/norman/friendly_id" target="_blank">FriendlyId</a></h3>
        <p>
        Slugging and permalink plugin for Rails ActiveRecord. This plugin
        provides support for creating human-friendly URLs in Rails
        applications.
        </p> 
      </li>
      <li>
        <h3><a href="https://github.com/carrierwaveuploader/carrierwave" target="_blank">CarrierWave</a></h3>
        <p>File uploader for Rails.</p>
      </li>
      <li>
        <h3><a href="https://github.com/thoughtbot/clearance" target="_blank" class="todo">Clearance</a></h3>
        <p>Authentication and authorization for Rails.</p>
      </li>
      <li>
        <h3><a href="https://github.com/kickstarter/rack-attack" target="_blank" class="todo">Rack::Attack</a></h3>
        <p>
        Rack middleware, for Rails, to protect web applications from bad
        clients by blocking and throttling abusive requests.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/basecamp/local_time" target="_blank" class="todo">localtime</a></h3>
        <p>Convert server-side timestamps into end-user local times.</p>
      </li>
      <li>
        <h3><a href="https://github.com/markets/invisible_captcha" target="_blank" class="todo">invisible_captcha</a></h3>
        <p>Simple spam protection for Rails applications during form submission.</p>
      </li>
      <li>
        <h3><a href="https://github.com/tjackiw/obscenity" target="_blank" class="todo">obscenity</a></h3>
        <p>Profanity filter for Rails applications.</p>
      </li>
      <li>
        <h3><a href="https://github.com/newrelic/rpm" target="_blank" class="todo">New Relic</a></h3>
        <p>
        Performance management and monitoring solution for production Rails
        applications.
        </p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Deployment</h2>
    <ul>
      <li>
        <h3><a href="https://www.digitalocean.com" target="_blank" class="todo">DigitalOcean</a></h3>
        <p>Cloud-based virtual hosting provider.</p>
      </li>
      <li>
        <h3><a href="http://www.ubuntu.com/server" target="_blank" class="todo">Ubuntu Server</a></h3>
        <p>Linux-based operating system targetted toward server usage.</p>
      </li>
      <li>
        <h3><a href="https://www.rackspace.com/en-au/cloud/files" target="_blank" class="todo">Rackspace Cloud Files</a></h3>
        <p>Cloud-based file storage and content network delivery (CDN) provider.</p>
      </li>
      <li>
        <h3><a href="https://www.namecheap.com" target="_blank" class="todo">Namecheap</a></h3>
        <p>Domain name registrar.</p>
      </li>
      <li>
        <h3><a href="https://letsencrypt.org" target="_blank" class="todo">Let's Encrypt</a></h3>
        <p>Free, automated, and open certificate authority for SSL certificates.</p>
      </li>
      <li>
        <h3><a href="http://nadarei.co/mina" target="_blank" class="todo">Mina</a></h3>
        <p>Automated deployment tool for Rails applications.</p>
      </li>
      <li>
        <h3>
          <a href="https://github.com/postmodern/ruby-install" target="_blank" class="todo">ruby-install</a>
          and <a href="https://github.com/postmodern/chruby" target="_blank" class="todo">chruby</a>
        </h3>
        <p>Simple Ruby version management.</p>
      </li>
      <li>
        <h3><a href="http://www.fail2ban.org" target="_blank" class="todo">Fail2ban</a></h3>
        <p>Intrusion prevention framework that protects servers from brute-force attacks.</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Development</h2>
    <ul>
      <li>
        <h3><a href="http://miniprofiler.com" target="_blank" class="todo">rack-mini-profiler</a></h3>
        <p>Comprehensive profiling toolkit for Rails applications.</p>
      </li>
      <li>
        <h3><a href="https://github.com/flyerhzm/bullet" target="_blank">bullet</a></h3>
        <p>Identity, and ameliorate, N+1 queries during Rails application development.</p>
      </li>
      <li>
        <h3><a href="https://github.com/troessner/reek" target="_blank" class="todo">Reek</a></h3>
        <p>Ruby code smell detector tool.</p>
      </li>
      <li>
        <h3><a href="https://github.com/bbatsov/rubocop" target="_blank" class="todo">Rubocop</a></h3>
        <p>Automatic Ruby code style checking tool.</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Testing</h2>
    <ul>
      <li>
        <h3><a href="http://rspec.info" target="_blank">Rspec</a></h3>
        <p>Behaviour driven development framework for Ruby.</p>
      </li>
      <li>
        <h3><a href="https://github.com/jnicklas/capybara" target="_blank">Capybara</a></h3>
        <p>Headless browser simulator used in RSpec feature specs.</p>
      </li>
      <li>
        <h3><a href="http://phantomjs.org" target="_blank">PhantomJS</a></h3>
        <p>A scriptable headless browser with JavaScript support.</p>
      </li>
      <li>
        <h3><a href="https://github.com/teampoltergeist/poltergeist" target="_blank">Poltergeist</a></h3>
        <p>A JavaScript capable driver for Capybara</p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Miscellaneous application features</h2>
    <ul>
      <li>
        <h3><a href="https://gorails.com/episodes/button-loading-animations-with-jquery-ujs" target="_blank">Busy submission buttons</a></h3>
        <p>
        All form submission buttons use the Rails Unobtrusive JavaScript
        (UJS) <code>data-disable-with</code> functionality to disable, and display
        a spinner icon, whilst a submitted form is being processed.
        </p>  
      </li>
      <li>
        <h3><a href="http://railscasts.com/episodes/263-client-side-validations" target="_blank">Client-side form validations</a></h3>
        <p>
        Certain form elements, such as Artist name and Album title, are
        validated client side for blankness in addition to traditional
        server-side validation.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/turbolinks/turbolinks-classic#progress-bar" target="_blank">Turbolinks progress bar</a></h3>
        <p>
        This Rails application uses Turbolinks for performant in-app page to
        page navigation. The Turbolinks progress bar has been enabled to
        provide visual feedback during such page navigation.
        </p>
      </li>
      <li>
        <h3><a href="https://github.com/turbolinks/turbolinks-classic#transition-cache-a-speed-boost" target="_blank">Turbolinks transition cache</a></h3>
        <p>
        Load Turbolinks visited in-app pages from the internal transition
        cache. This will result in near instant page loads, with later
        automatic page refresh if page changes have occurred.
        </p>
      </li>
      <li>
        <h3><a href="http://railscasts.com/episodes/343-full-text-search-in-postgresql" target="_blank">PostgreSQL text search</a></h3>
        <p>
        Artist and Album search both use the PostgreSQL <code>@@</code> text
        search operator which provides support for: English dictionary stemming,
        multi-word search, stop words, and fuzzy text search for misspellings.
        </p>
      </li>
    </ul>
    <br>

    <h2 class="page-header">Logo</h2>
    <div>
      Record player icon, made by 
      <a href="http://www.flaticon.com/authors/freepik" target="_blank" class="standout">Freepik</a> from 
      <a href="http://www.flaticon.com" target="_blank" class="standout">www.flaticon.com</a>, is licensed by 
      <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0 BY</a>
    </div>
    <br>
  </div>
</div>
