<div class="row">
  <div class="col-md-10">
    <h1 class="page-header">Core technolgies</h1>
    <ul>
      <li><h3>Rails <small>version 4.2.6</small></h3><p>Web application framework</p></li>
      <li><h3>PostgreSQL</h3></li>
      <li><h3>Redis</h3></li>
      <li><h3>Sidekiq <small>asynchronous job processor</small></h3></li>
      <li><h3>Puma <small>Ruby web server</small></h3></li>
      <li><h3>Nginx</h3></li>
    </ul>
    <br>

    <h2 class="page-header">Ruby gems</h2>

    <h2 class="page-header">Miscellaneous features</h2>
  </div>

  <%= render partial: "shared/sidebar" %>
</div>
