<div class="row">
  <div class="col-md-10">
    <div class="jumbotron">
      <h1>Platters!</h1>
      <p>...</p>
      <p><a class="btn btn-success btn-lg" href="#" role="button">Join</a></p>
    </div>
  </div>

  <%= render partial: "shared/sidebar" %>
</div>
