# Debug via:
#   % sudo systemctl status puma
#   % sudo tail /var/log/syslog

[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/platters
ExecStart=/bin/bash -lc 'bundle exec puma -e production -b unix://tmp/sockets/puma.sock'
Restart=always

[Install]
WantedBy=multi-user.target
