$("[data-behavior~=flash-messages]").empty();
$("[data-behavior~=flash-messages]").append(
    "<div class='alert alert-alert'><%= @album.title %> has been removed</div>");
$("[data-behavior~=artist-album-<%= @album.id %>]").remove();
