<div id="albums">
  <div class="page-header">
    <h1>Albums <small>(<%= fa_icon "th", text: number_with_delimiter(Album.count) %>)</small></h1>
  </div>

  <%= render @albums %>
  <div class="col-sm-9">
    <%= paginate @albums %>
  </div>
</div>
