// Colors.
//
// https://www.colorhexa.com
//
$grey-dark:        #515151;
$grey-mid-dark:    #777;
$grey-mid-light:   #eee;
$grey-light:       #f8f8f8;
$black-text:       #111;
$black-background: #333;
$green-yeti:       #3c9a5f;
$green-shade:      #9bd8b2;
$red-yeti:         #f04124;
