// Artists index styling.
//
#artists {
  a {
    text-decoration: none;
  }

  .artist {
    padding: 0.5em 0 0.5em 0.5em;

    h2 {
      margin-top: 0.25em;
    }

    .icon {
      font-size: 0.75em;
    }

    &:hover {
      background: rgba(0, 0, 0, .025);
      border-radius: 0.25em;
    }
  }
}

// Artists sidebar styling, displayed as part of the Artists index page. Do
// not display the sidebar for extra small screen sizes (less than 768px wide).
//
//@media (max-width: $screen-sm-max) {
@media (max-width: map-get($grid-breakpoints, lg)) {
  #artists-sidebar {
    display: none;
  }
}
//@media (min-width: $screen-md-min) {
@media (min-width: map-get($grid-breakpoints, lg)) {
  #artists-sidebar {
    .card {
      margin-bottom: 1em;

      .card-title {
        margin: 0;
      }
    }

    h5 {
      font-size: 1em;
      color: $grey-dark;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      line-height: 1.3em;
      margin: 0 0 0.2em;
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    .album {
      height: 10em;

      img {
        height: 80px;
        width: 80px;
        border: 1px solid $grey-mid-dark;
        border-radius: 4px;
        margin-top: 0.5em;

        &:hover {
          border: 1px solid $green-yeti;
        }
      }
    }

    .comment {
      height: 10.2em;

      img {
        height: 45px;
        width: 45px;
        border: 1px solid $grey-mid-light;
        border-radius: 50%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}

// Artist show styling.
//
#artist {
  a {
    text-decoration: none;
  }

  .description {
    p {
      display: inline;
      color: $grey-dark;
    }
  }

  .website {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .albums-order {
    text-align: center;
    font-size: 0.9em;

    li {
      display: inline;
      margin: 0 1em;
      font-weight: lighter;

      a {
        color: $grey-dark;

        &.active {
          color: $green-yeti;
          font-weight: bold;
        }

        &:hover {
          color: $green-yeti;
        }
      }
    }
  }

  .album {
    border-bottom: 1px solid $grey-mid-light;

    img {
      height: 80px;
      width: 80px;
      float: left;
      border: 1px solid $grey-mid-dark;
      border-radius: 50%;
      margin-right: 1em;

      &:hover {
        border: 1px solid $green-yeti;
      }
    }

    .title {
      height: 2.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 1em 0 0;

      h2 {
        display: inline;
        font-size: 1.8em;
      }

      //@media (max-width: $screen-sm-max) {
      @media (max-width: map-get($grid-breakpoints, sm)) {
        .icon {
          display: none;
        }
      }

      //@media (min-width: $screen-md-min) {
      @media (min-width: map-get($grid-breakpoints, md)) {
        .icon {
          margin-top: 1em;
          float: right;
          font-size: 0.8em;
          color: $grey-dark;
        }
      }
    }

    .album-details {
      margin-top: 0;

      small {
        font-size: 0.45em;
      }
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    ul {
      font-size: 0.8em;
      color: $grey-dark;
      padding-left: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      li {
        display: inline;
        list-style-type: none;
      }
    }
  }
}
