#comments {
  h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .comment-length {
    color: $grey-dark;
    font-size: 0.9em;
    font-weight: lighter;
    margin-right: 0.5em;
  }

  .comment-error {
    color: $red-yeti;
  }

  .comment {
    background-color: $grey-light;
    border: 1px solid $grey-mid-light;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;

    img {
      height: 45px;
      width: 45px;
      float: left;
      border: 1px solid $grey-mid-light;
      border-radius: 50%;
      margin: 0 0.75em 0 0;
    }

    h2 {
      display: inline;
      margin-top: 0.5em;
      font-size: 1.4em;
      color: $green-yeti;

      a {
        text-decoration: none;
      }

      small {
        font-size: 0.75em;
      }
    }

    h3 {
      margin-top: 0.5em;
      font-size: 0.75em;
      color: $grey-dark;
    }

    .icon {
      float: right;
      font-size: 0.95em;
      color: $grey-dark;

      a {
        color: $grey-dark;
        text-decoration: none;

        &:hover {
          color: $green-yeti;
        }
      }
    }

    p {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

#comments-spinner {
  display: none;
  text-align: center;

  i {
    font-size: 2em;
    color: $grey-mid-dark;
    margin-bottom: 0.5em;
  }
}
