// Various styles, either too small for their own file or a generic style used
// throughout the application.

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("https://fonts.googleapis.com/css?family=Capriola");


// Application layout styling: always visible navigation, content and a
// bottom-of page or bottom-of window footer.
//
html {
  position: relative;
  min-height: 100%;
}

.main {
  margin-top: 4em;    // Room for header.
  margin-bottom: 3em; // Room for footer.
}

// Selection highlight color.
//
::selection {
  background: $green-shade;
}
::-moz-selection {
  background: $green-shade;
}

.navbar-brand {
  font-family: "Capriola", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  padding-top: 7px;

  img {
    height: 2em;
    display: inline;
  }
}

#platters-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  border-top: 1px solid $grey-mid-light;
  background-color: $grey-light;

  ul {
    margin-top: 1em;

    li {
      display: inline;
    }

    a {
      color: $grey-dark;
      font-size: 0.9em;

      &:link {
        text-decoration: none;
      }

      &:hover {
        color: #000;
      }
    }
  }
}

// Color of the Turbolinks progress bar displayed at the top of the screen on
// page changes that take longer than 500ms.
//
.turbolinks-progress-bar {
  height: 3px;
  background-color: $green-yeti;
}

// Alert styling for the flash.
//
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// Common site-wide styling.
//
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: $black-text;
}

h1 small {
  font-size: 0.4em;
}

h2 small {
  font-size: 0.45em;
}

h1 small,
h2 small,
h3 small {
  font-weight: lighter;
  color: $grey-mid-dark;
}

h4 {
  color: $grey-dark;
  margin-top: 1em;
}

p {
  color: $grey-dark;
  font-size: 0.95em;
}

.icon {
  color: $grey-mid-dark;
  font-weight: lighter;
}

.page-header {
  padding-bottom: 9.5px;
  margin: 11px 0 21px;
  border-bottom: 1px solid $grey-mid-light;

  h1, h2, h3 {
    display: inline;
  }
}

.action {
  font-size: 0.9em;
}

.list-choice {
  .pagination {
    margin: 0 0 0.5em;

    .search-link,
    .filter-link {
      cursor: pointer;
    }
  }
}

.search-form {
  margin-bottom: 0.5em;
  height: 2.5em;

  input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .search-submit {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: white;
    }
  }
}

#session {
  a {
    font-size: 0.9em;
    text-decoration: none;
  }
}

.user-avatar {
  img {
    height: 125px;
    width: 125px;
    border: 1px solid $grey-mid-light;
    border-radius: 4px;

    &:hover {
      border: 1px solid $green-yeti;
    }
  }
}

.flash-messages {
  position: fixed;
  z-index: 9999;
  top: 1.5em;
  left: 1em;
}

.flash-message {
  width: 75vw;
  font-size: 0.9em;
}
