@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome";
@import "bootswatch_yeti_custom";
@import "artists";

.spacer-top-xs {
  margin-top: 0.5em;
}

.spacer-top-sm {
  margin-top: 1em;
}

.spacer-top-md {
  margin-top: 1.5em;
}

.spacer-top-lg {
  margin-top: 2em;
}

.spacer-top-xl {
  margin-top: 3em;
}

.spacer-bottom-xs {
  margin-bottom: 0.5em;
}

.spacer-bottom-sm {
  margin-bottom: 1em;
}

.spacer-bottom-md {
  margin-bottom: 1.5em;
}

.spacer-bottom-lg {
  margin-bottom: 2em;
}

.spacer-bottom-xl {
  margin-bottom: 3em;
}

.spacer-left-xs {
  margin-left: 0.5em;
}

.spacer-left-sm {
  margin-left: 1em;
}

.spacer-left-md {
  margin-left: 1.5em;
}

.spacer-left-lg {
  margin-left: 2em;
}

.spacer-left-xl {
  margin-left: 3em;
}
.spacer-right-xs {
  margin-right: 0.5em;
}

.spacer-right-sm {
  margin-right: 1em;
}

.spacer-right-md {
  margin-right: 1.5em;
}

.spacer-right-lg {
  margin-right: 2em;
}

.spacer-right-xl {
  margin-right: 3em;
}

html {
  position: relative;
  min-height: 100%;
}

.main {
  margin-top: 4em;    // Room for header.
  margin-bottom: 3em; // Room for footer.
  // background-image: image-url("white-grid.jpg");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  border-top: 1px solid #eee;
  background-color: #f8f8fa;

  li {
    display: inline;
    float: right;
  }

  a {
    color: #777;
    font-size: 0.9em;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }
}
