@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.spacer-top-xs {
  margin-top: 0.5em;
}

.spacer-top-sm {
  margin-top: 1em;
}

.spacer-top-md {
  margin-top: 1.5em;
}

.spacer-top-lg {
  margin-top: 2em;
}

.spacer-top-xl {
  margin-top: 3em;
}

.spacer-right-xs {
  margin-right: 0.5em;
}

.spacer-right-sm {
  margin-right: 1em;
}

.spacer-right-md {
  margin-right: 1.5em;
}

.spacer-right-lg {
  margin-right: 2em;
}

.spacer-right-xl {
  margin-right: 3em;
}

body {
  padding-top: 4em;
  // background-image: image-url("white-mini-waves.png");
}

#artists h4 {
  font-size: 1.5em;
  margin-top: 1em;
  color: #515151;

  &:before {
    font-family: "FontAwesome";
    font-size: 0.5em;
    padding-right: 1em;
    @extend .fa-music;
  }
}

#artists .artist:hover {
  background-color: #f7f7f7;
  border-radius: 0.25em;
}

#artists h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
