@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome";
@import "bootswatch_yeti_custom";
@import "artists";

.spacer-top-xs {
  margin-top: 0.5em;
}

.spacer-top-sm {
  margin-top: 1em;
}

.spacer-top-md {
  margin-top: 1.5em;
}

.spacer-top-lg {
  margin-top: 2em;
}

.spacer-top-xl {
  margin-top: 3em;
}

.spacer-right-xs {
  margin-right: 0.5em;
}

.spacer-right-sm {
  margin-right: 1em;
}

.spacer-right-md {
  margin-right: 1.5em;
}

.spacer-right-lg {
  margin-right: 2em;
}

.spacer-right-xl {
  margin-right: 3em;
}

body {
  padding-top: 4em;
  // background-image: image-url("white-mini-waves.png");
}
