#artists {
  h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
  }

  h2 {
    font-size: 2em;
    margin-top: 1em;
    color: #111;
  }

  a p {
    color: #515151;
    font-size: 0.9em;
  }

  .artist:hover {
    background: rgba(0, 0, 0, .025);
    border-radius: 0.25em;
  }

  .icon {
    color: #6d6d6d;
    font-size: 0.75em;
  }
}

#artist {
  h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
  }

  .description {
    p {
      display: inline;
    }
  }

  .website {
    margin-top: 1em;

    h3 {
      font-size: 1em;
      color: #444;
      display: inline;
    }

    .icon {
      color: #6d6d6d;
    }
  }

  a {
   text-decoration: none;
  }
}

#albums {
  h2 {
    font-size: 2em;
    color: #111;
    display: inline;
  }

  a {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .panel {
    margin-top: 1em;
  }
  
  .icon {
    float: right;
    color: #6d6d6d;
  }
}
