.btn {
	border-radius: 2px;
}

.navbar-inverse {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.navbar-inverse .navbar-nav > li > a {
  color: #777;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
  background-color: #f8f8f8;
}

