// Misc pages (specifically details and about) page styling.
//
#misc-page {
  h4 {
    font-size: 1.1em;
  }

  a {
    color: $black-text;
    text-decoration: none;

    &:hover {
      color: $green-yeti;
    }
  }

  .standout {
    color: $green-yeti;
  }

  .todo {
    color: $red-yeti;
  }
}
