// Colors.
//
$grey-dark: #515151;
$grey-mid-dark: #777;
$grey-mid-light: #eee;
$grey-light: #f8f8f8;
$black-text: #111;
$green-yeti: #3c9a5f;


// Application layout styling: always visible navigation, content and a
// bottom-of page or bottom-of window footer.
//
html {
  position: relative;
  min-height: 100%;
}

.main {
  margin-top: 4em;    // Room for header.
  margin-bottom: 3em; // Room for footer.
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  border-top: 1px solid $grey-mid-light;
  background-color: $grey-light;

  li {
    display: inline;
    float: right;
  }

  a {
    color: $grey-dark;
    font-size: 0.9em;

    &:link {
      text-decoration: none;
    }

    &:hover {
      color: #000;
    }
  }
}


// Alert styling for the flash.
//
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}


// Common site-wide styling.
//
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: $black-text;
}

h1 small,
h2 small {
  font-size: 0.4em;
}

h1 small,
h2 small,
h3 small {
  font-weight: lighter;
  color: $grey-mid-dark;
}

h4 {
  color: $grey-dark;
  margin-top: 1em;
}

.icon {
  color: $grey-mid-dark;
  font-weight: lighter;
}

.page-header {
  h1 {
    display: inline;
  }
}

.action {
  font-size: 0.9em;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: $green-yeti;
  color: white;
}

.list-choice {
  .pagination {
    margin: 0 0 0.5em;

    .search-link,
    .filter-link {
      cursor: pointer;
    }
  }
}

.search-form {
  margin-bottom: 0.5em;
  height: 2.5em;

  input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .search-submit {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: white;
    }
  }
}

// Artists index styling.
//
#artists {
  a {
    text-decoration: none;

    p {
      color: $grey-dark;
      font-size: 0.9em;
    }
  }

  .artist {
    padding: 0.5em 0 0.5em 0.5em;

    h2 {
      margin-top: 0.25em;
    }

    .icon {
      font-size: 0.75em;
    }

    &:hover {
      background: rgba(0, 0, 0, .025);
      border-radius: 0.25em;
    }
  }
}

// Artist show styling.
//
#artist {
  a {
    text-decoration: none;
  }

  .description {
    p {
      display: inline;
      color: $grey-dark;
    }
  }

  .website {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .albums-header {
    h3 {
      display: inline;
    }
    
    h3 small {
      font-size: 0.5em;
    }

    .action {
      padding-top: 0.5em;
    }
  }

  .albums-order {
    text-align: center;
    font-size: 0.9em;

    li {
      display: inline;
      margin: 0 1em;
      font-weight: lighter;

      a {
        color: $grey-dark;

        &.active {
          color: $green-yeti;
          font-weight: bold;
        }

        &:hover {
          color: $green-yeti;
        }
      }
    }
  }

  .album {
    border-bottom: 1px solid $grey-mid-light;

    img {
      height: 80px;
      width: 80px;
      float: left;
      border: 1px solid $grey-mid-dark;
      border-radius: 40px;
      margin-right: 1em;
    }

    img:hover {
      border: 1px solid $green-yeti;
    }

    .title {
      height: 2.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 1em 0 0;

      h2 {
        display: inline;
        font-size: 1.8em;
      }

      .icon {
        margin-top: 1em;
        float: right;
        font-size: 0.8em;
        color: $grey-dark;
      }
    }

    .album-details {
      margin-top: 0;

      small {
        font-size: 0.45em;
      }
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    ul {
      font-size: 0.8em;
      color: $grey-dark;
      padding-left: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      li {
        display: inline;
        list-style-type: none;
      }
    }
  }
}

// Albums index styling.
//
#albums {
  .filter {
    color: $grey-mid-dark;

    label {
      font-weight: lighter;
    }

    input {
      border-radius: 3px;
    }

    .form-group {
      margin-bottom: 0.5em;

      .radio-first {
        margin-top: 0.2em;
      }

      .radio-last {
        margin-bottom: 0;
      }

      .submit {
        margin-top: 1.2em;
      }
    }

    .col-md-1 {
      margin-bottom: 0;
    }
  }

  .col-md-6 {
    padding: 0 10px;
  }

  .album {
    background-color: $grey-light;
    border: 1px solid $grey-mid-light;
    border-radius: 4px;
    height: 18.5em;
    margin-top: 10px;
    margin-bottom: 8px;

    h2 {
      padding: 0 0.25em 0.1em 0.25em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }

    h3 {
      margin-top: 0.25em;
      text-align: center;
      color: $black-text;
      font-size: 1em;

      small {
        font-size: 0.8em;
      }
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    .icon {
      text-align: center;
      font-size: 0.75em;
      color: $grey-dark;
      margin-bottom: 0.5em;
    }

    img {
      height: 125px;
      width: 125px;
      float: left;
      margin: 15px 15px 15px 20px;
      border: 1px solid $grey-mid-dark;
      border-radius: 4px;

      &:hover {
        border: 1px solid $green-yeti;
      }
    }

    ul {
      display: inline;
      font-size: 0.75em;
      color: $grey-dark;

      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        list-style-type: none;
      }
    }
  }
}

// Album show styling.
//
#album {
  .page-header {
    h1 {
      display: inline;

      small a {
        color: $grey-dark;

        &:hover {
          color: $green-yeti;
        }
      }
    }
  }

  h2 {
    display: inline;
    font-size: 1.8em;
  }

  .icon {
    font-size: 0.8em;
    float: right;
    color: $grey-dark;
    margin: 1em 0.5em;

    a {
      color: $grey-dark;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: $green-yeti;
    }
  }

  img {
    height: 315px;
    width: 315px;
    margin-top: 1em;
    border: 1px solid $grey-mid-dark;
    border-radius: 4px;
  }
}

#album-form {
  img {
    height: 80px;
    width: 80px;
    border: 1px solid $grey-mid-dark;
    border-radius: 4px;
    margin-top: 1em;
  }
}
