@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("https://fonts.googleapis.com/css?family=Capriola");

// Colors.
//
$grey-dark:        #515151;
$grey-mid-dark:    #777;
$grey-mid-light:   #eee;
$grey-light:       #f8f8f8;
$black-text:       #111;
$black-background: #333;
$green-yeti:       #3c9a5f;
$red-yeti:         #f04124;


// Application layout styling: always visible navigation, content and a
// bottom-of page or bottom-of window footer.
//
html {
  position: relative;
  min-height: 100%;
}

.main {
  margin-top: 4em;    // Room for header.
  margin-bottom: 3em; // Room for footer.
}

.navbar-brand {
  font-family: "Capriola", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  padding-top: 7px;

  img {
    height: 2em;
    display: inline;
  }
}

#platters-header {
  .sign-up-btn {
    margin: 0.5em 1em 0 0.5em;
  }
}

#platters-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  border-top: 1px solid $grey-mid-light;
  background-color: $grey-light;

  ul {
    margin-top: 1em;

    li {
      display: inline;
    }

    a {
      color: $grey-dark;
      font-size: 0.9em;

      &:link {
        text-decoration: none;
      }

      &:hover {
        color: #000;
      }
    }
  }
}

// Color of the Turbolinks progress bar displayed at the top of the screen on
// page changes that take longer than 500ms.
//
.turbolinks-progress-bar {
  height: 3px;
  background-color: $green-yeti;
}

// Alert styling for the flash.
//
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// Common site-wide styling.
//
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: $black-text;
}

h1 small {
  font-size: 0.4em;
}

h2 small {
  font-size: 0.45em;
}

h1 small,
h2 small,
h3 small {
  font-weight: lighter;
  color: $grey-mid-dark;
}

h4 {
  color: $grey-dark;
  margin-top: 1em;
}

p {
  color: $grey-dark;
  font-size: 0.95em;
}

.icon {
  color: $grey-mid-dark;
  font-weight: lighter;
}

.page-header {
  h1, h2, h3 {
    display: inline;
  }
}

.action {
  font-size: 0.9em;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: $green-yeti;
  color: white;
}

.list-choice {
  .pagination {
    margin: 0 0 0.5em;

    .search-link,
    .filter-link {
      cursor: pointer;
    }
  }
}

.search-form {
  margin-bottom: 0.5em;
  height: 2.5em;

  input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .search-submit {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: white;
    }
  }
}

#session {
  a {
    font-size: 0.9em;
    text-decoration: none;
  }
}

.user-avatar {
  img {
    height: 125px;
    width: 125px;
    border: 1px solid $grey-mid-light;
    border-radius: 4px;

    &:hover {
      border: 1px solid $green-yeti;
    }
  }
}

// Home page styling, the top part before "Album of the day".
//
#home {
  .first {
    margin-top: 1em;

    h1 {
      text-align: center;
    }

    .logo {
      img {
        height: 24em;
      }
    }
  }

  .dark {
    background-color: $black-background;
    
    h2 {
      text-align: center;
      color: $grey-mid-light;
      margin: 1.5em;
    }

    .technologies {
      margin-left: 20px;

      i {
        font-size: 3em;
        margin-bottom: 0.5em;
        color: $grey-mid-light;
      }

      p {
        font-size: 1.4em;
        font-weight: lighter;
        color: $grey-mid-light;
        margin-bottom: 1.5em;
      }
    }

    .complete-details {
      margin-bottom: 1.5em;
    }
  }

  .albums {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

// Album of the day styling.
//
#album-of-the-day {
  .page-header {
    margin-top: 0.75em;
  }

  a {
    color: $black-text;
    text-decoration: none;

    &:hover {
      color: $green-yeti;
    }
  }

  img {
    height: 400px;
    width: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid $grey-mid-dark;
    border-radius: 4px;

    &:hover {
      border: 1px solid $green-yeti;
    }
  }
}

// Misc pages (specifically details and about) page styling.
//
#misc-page {
  h4 {
    font-size: 1.1em;
  }

  a {
    color: $black-text;
    text-decoration: none;

    &:hover {
      color: $green-yeti;
    }
  }

  .standout {
    color: $green-yeti;
  }

  .todo {
    color: $red-yeti;
  }
}

// Artists index styling.
//
#artists {
  a {
    text-decoration: none;
  }

  .artist {
    padding: 0.5em 0 0.5em 0.5em;

    h2 {
      margin-top: 0.25em;
    }

    .icon {
      font-size: 0.75em;
    }

    &:hover {
      background: rgba(0, 0, 0, .025);
      border-radius: 0.25em;
    }
  }

}

// Artists sidebar styling, displayed as part of the Artists index page. Do
// not display the sidebar for extra small screen sizes (less than 768px wide).
//
@media (max-width: $screen-sm-max) {
  #artists-sidebar {
    display: none;
  }
}
@media (min-width: $screen-md-min) {
  #artists-sidebar {
    h5 {
      font-size: 1em;
      color: $grey-dark;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      line-height: 1.3em;
      margin: 0 0 0.2em;
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    .album {
      height: 12em;

      .icon {
        font-size: 0.8em;
        color: $grey-dark;
        float: right;
      }

      img {
        height: 80px;
        width: 80px;
        border: 1px solid $grey-mid-dark;
        border-radius: 4px;
        margin-top: 0.5em;

        &:hover {
          border: 1px solid $green-yeti;
        }
      }
    }

    .comment {
      height: 10.2em;

      img {
        height: 60px;
        width: 60px;
        border: 1px solid $grey-mid-light;
        border-radius: 4px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}

// Artist show styling.
//
#artist {
  a {
    text-decoration: none;
  }

  .description {
    p {
      display: inline;
      color: $grey-dark;
    }
  }

  .website {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .albums-order {
    text-align: center;
    font-size: 0.9em;

    li {
      display: inline;
      margin: 0 1em;
      font-weight: lighter;

      a {
        color: $grey-dark;

        &.active {
          color: $green-yeti;
          font-weight: bold;
        }

        &:hover {
          color: $green-yeti;
        }
      }
    }
  }

  .album {
    border-bottom: 1px solid $grey-mid-light;

    img {
      height: 80px;
      width: 80px;
      float: left;
      border: 1px solid $grey-mid-dark;
      border-radius: 50%;
      margin-right: 1em;

      &:hover {
        border: 1px solid $green-yeti;
      }
    }

    .title {
      height: 2.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 1em 0 0;

      h2 {
        display: inline;
        font-size: 1.8em;
      }

      @media (max-width: $screen-sm-max) {
        .icon {
          display: none;
        }
      }

      @media (min-width: $screen-md-min) {
        .icon {
          margin-top: 1em;
          float: right;
          font-size: 0.8em;
          color: $grey-dark;
        }
      }
    }

    .album-details {
      margin-top: 0;

      small {
        font-size: 0.45em;
      }
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    ul {
      font-size: 0.8em;
      color: $grey-dark;
      padding-left: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      li {
        display: inline;
        list-style-type: none;
      }
    }
  }
}

// Albums index styling, also used by the home page (see MiscPages home view).
//
#albums {
  .filter {
    color: $grey-mid-dark;

    label {
      font-weight: lighter;
    }

    input {
      border-radius: 3px;
    }

    .form-group {
      margin-bottom: 0.5em;

      .radio-first {
        margin-top: 0.2em;
      }

      .radio-last {
        margin-bottom: 0;
      }

      .submit {
        margin-top: 1.2em;
      }
    }

    .col-md-1 {
      margin-bottom: 0;
    }
  }

  .col-md-6 {
    padding: 0 10px;
  }

  .album {
    background-color: $grey-light;
    border: 1px solid $grey-mid-light;
    border-radius: 4px;
    height: 18.5em;
    margin-top: 10px;
    margin-bottom: 8px;

    h2 {
      padding: 0 0.25em 0.1em 0.25em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }

    h3 {
      margin-top: 0.25em;
      text-align: center;
      color: $black-text;
      font-size: 1em;

      small {
        font-size: 0.8em;
      }
    }

    a {
      color: $grey-dark;
      text-decoration: none;

      &:hover {
        color: $green-yeti;
      }
    }

    .icon {
      text-align: center;
      font-size: 0.75em;
      color: $grey-dark;
      margin-bottom: 0.5em;
    }

    img {
      height: 125px;
      width: 125px;
      float: left;
      margin: 15px 15px 15px 20px;
      border: 1px solid $grey-mid-dark;
      border-radius: 4px;

      &:hover {
        border: 1px solid $green-yeti;
      }
    }

    ul {
      display: inline;
      font-size: 0.75em;
      color: $grey-dark;

      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        list-style-type: none;
      }
    }
  }
}

// Album show styling.
//
#album {
  .page-header {
    h1 {
      display: inline;

      a {
        color: $grey-dark;

        &:hover {
          color: $green-yeti;
        }
      }
    }
  }

  h2 {
    display: inline;
    font-size: 1.8em;
  }

  .icon {
    font-size: 0.8em;
    float: right;
    color: $grey-dark;
    margin: 1em 0.5em;

    a {
      color: $grey-dark;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: $green-yeti;
    }
  }

  img {
    height: 315px;
    width: 315px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid $grey-mid-dark;
    border-radius: 4px;
  }

  table {
    margin-bottom: 0;

    tbody {
      .visible {
        display: table-row;
      }

      .invisible {
        display: none;
      }
    }
  }

  .tracks-gradient {
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
    height: 10em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }

  .tracks-visibility-controls {
    margin-top: 0.5em;

    .invisible {
      display: none;
    }
  }
}

#album-form {
  img {
    height: 80px;
    width: 80px;
    border: 1px solid $grey-mid-dark;
    border-radius: 4px;
    margin-top: 1em;
  }
}

#comments {
  h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .comment-length {
    color: $grey-dark;
    font-size: 0.9em;
    font-weight: lighter;
    margin-right: 0.5em;
  }

  .comment-error {
    color: $red-yeti;
  }

  .comment {
    background-color: $grey-light;
    border: 1px solid $grey-mid-light;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;

    img {
      height: 45px;
      width: 45px;
      float: left;
      border: 1px solid $grey-mid-light;
      border-radius: 50%;
      margin: 0 0.75em 0 0;
    }

    h2 {
      display: inline;
      margin-top: 0.5em;
      font-size: 1.4em;
      color: $green-yeti;

      small {
        font-size: 0.75em;

        a {
          text-decoration: none;
        }
      }
    }

    h3 {
      margin-top: 0.5em;
      font-size: 0.75em;
      color: $grey-dark;
    }

    .icon {
      float: right;
      font-size: 0.95em;
      color: $grey-dark;

      a {
        color: $grey-dark;
        text-decoration: none;

        &:hover {
          color: $green-yeti;
        }
      }
    }

    p {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

#comments-spinner {
  font-size: 2em;
  color: $grey-mid-dark;
  margin-bottom: 0.5em;
}
