// Colors.
//
$gray-dark-text: #777;
$gray-very-dark-text: #515151;
$gray-light-border: #eee;
$gray-very-light-background: #f8f8f8;
$gray-dark-icon: #6d6d6d;
$black-header-text: #111;
$green-yeti: #3c9a5f;


// Application layout styling: always visible navigation, content and a
// bottom-of page or bottom-of window footer.
//
html {
  position: relative;
  min-height: 100%;
}

.main {
  margin-top: 4em;    // Room for header.
  margin-bottom: 3em; // Room for footer.
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  border-top: 1px solid $gray-light-border;
  background-color: $gray-very-light-background;

  li {
    display: inline;
    float: right;
  }

  a {
    color: $gray-dark;
    font-size: 0.9em;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }
}


// Alert styling for the flash.
//
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}


// Common site-wide styling.
//
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: $black-header-text;
}

.icon {
  color: $gray-dark-icon;
}

.action {
  float: right;
  padding-top: 1em;
  font-size: 0.9em;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: $green-yeti;
  color: white;
}


// Artists index styling.
//
#artists {
  h1 {
    display: inline;
  }

  small {
    font-size: 0.3em;
  }

  a {
    text-decoration: none;
  }

  a p {
    color: $gray-very-dark-text;
    font-size: 0.9em;
  }

  .artist:hover {
    background: rgba(0, 0, 0, .025);
    border-radius: 0.25em;
  }

  .icon {
    font-size: 0.75em;
  }
}


// Artist show styling.
//
#artist {
  h1 {
    display: inline;
  }

  a {
    text-decoration: none;
  }

  .description {
    p {
      display: inline;
      color: $gray-very-dark-text;
    }
  }

  .website {
    margin-top: 1em;
    margin-bottom: 1em;
  }

}

// Artist albums styling.
//
#artist-albums {
  h2 {
    display: inline;
  }

  a {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .panel {
    margin-top: 1em;
  }
  
  .icon {
    float: right;
  }
}

// Albums index styling.
//
#albums {
  h1 {
    display: inline;
  }

  small {
    font-size: 0.3em;
  }

  .col-md-6,
  .col-md-12 {
    padding-left: 0px;
  }
}

// Album styling.
//
#album {
  background-color: $gray-very-light-background;
  border: 1px solid $gray-light-border;
  border-radius: 4px;
  height: 16.5em;
  margin-top: 10px;
  margin-bottom: 8px;

  h2 {
    margin-top: 0.25em;
    text-align: center;
  }

  h3 {
    margin-top: 0.25em;
    text-align: center;
    color: $black-header-text;
    font-size: 0.9em;
  }

  .icon {
    text-align: center;
    font-size: 0.75em;
    color: $gray-very-dark-text;
  }

  .cover-tracks {
    margin-top: 0.5em;

    img {
      float: left;
      margin-left: 20px;
      margin-right: 25px;
      border: 1px solid $green-yeti;
      border-radius: 2px;
    }

    ol {
      display: inline;
      font-size: 0.75em;
      color: $gray-very-dark-text;
    }
  }
}
