name: RSpec

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.3
          bundler-cache: true

      - name: Bundle install
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Yarn install
        run: |
          npm i -g yarn
          yarn install

      - name: Setup Chromedriver
        run: |
          wget -N http://chromedriver.storage.googleapis.com/2.35/chromedriver_linux64.zip
          unzip ./chromedriver_linux64.zip
          sudo mv -f chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver
          google-chrome-stable --headless --no-sandbox

      - name: Assets precompile
        env:
          RAILS_ENV: test
        run: bundle exec rails assets:precompile

      - name: Webpack compilation
        env:
          RAILS_ENV: test
        run: bundle exec rails webpacker:compile

      - name: Setup Database
        env:
          RAILS_ENV: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: |
          bundle exec rake db:create

      - name: Run RSpec
        env:
          RAILS_ENV: test
          CONTACT_EMAIL: foo@bar.com
          MAILGUN_SMTP_LOGIN: foo@bar.com
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        run: |
          bundle exec rspec
