<footer class="footer">
  <div class="container-fluid">
    <small>
      <ul>
        <li><%= link_to "Sources", sources_path, class: "spacer-right-sm" %></li>
        <li><%= link_to "Details", details_path, class: "spacer-right-sm" %></li>
      </ul>
    </small>
  </div>
</footer>
