<footer class="footer">
  <div class="container-fluid">
    <div class="pull-right">
      <small>
        <ul>
          <li><%= link_to "About",   about_path,   class: "spacer-right-sm" %></li>
          <li><%= link_to "Details", details_path, class: "spacer-right-sm" %></li>
        </ul>
      </small>
    </div>
  </div>
</footer>
