<footer class="footer">
  <div class="container-fluid">
    <small>
      <ul>
        <li><%= link_to "Feedback", root_path, class: "spacer-right-sm" %></li>
        <li><%= link_to "Technologies", root_path, class: "spacer-right-sm" %></li>
        <li><%= link_to "About", root_path, class: "spacer-right-sm" %></li>
      </ul>
    </small>
  </div>
</footer>
