<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Platters", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Artists", artists_path %></li>
          <li><%= link_to "Albums", albums_path %></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Rock</a></li>
                <li><a href="#">Pop</a></li>
                <li><a href="#">Metal</a></li>
              </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
          <li><p class="navbar-btn spacer-right-md"><a href="#" class="btn btn-sm btn-transparent spacer-top-tiny">Sign Up</a></p></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
